.content {
    height: auto;
    width: auto;
    align-content: center;
    border-width: 5pt;
    border-style: outset;
    background-color:rgb(65, 187, 48)
}
.footer{
    bottom: 0;
    right: 0;
    color:aliceblue;
    padding: 3px;
    text-align: right;
}
.rodape{
    color: aliceblue;
    text-align: left;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}
.div-filha {
display: grid;
place-items: center;
height: 50vh;
}
body {
    align-content: center;
    margin: 50px;
    background-image: url('../Imagens/fundopaginaprincipal.jpg');
    background-size: cover; /* Para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}
h1, h2, h3 {
    text-align: center;
    color: aliceblue;
    font-size: 50pt;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}
h2 {
    font-size: 25pt;
    margin-bottom: 20px;
}
p {
    text-align: center;
    color: aliceblue;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
    padding: 2px;
    text-align: center;
    color: aliceblue;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
