body {
    align-content: center;
    margin: 50px;
    background-image: url('../Imagens/PgPrincipal/fundopaginaprincipal.jpg');
    background-size: cover; /* Para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}
div {
    margin-bottom: 15px;
}#title{
    margin: 0;
    display: flexbox;
    text-align: center;
}
h1 {
    background-color: rgba(64, 187, 48, 0.223);
    color: aliceblue;
    font-size: 48pt;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 0;
    display:inline-flex;
    margin-top: 10px;
    justify-self: center;
    text-align: center;
}

#formulário {
    width: 300px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin: 10px 0;
    line-height: 20px;
    
}
a {
    text-decoration: none;
}
label {
    color:aliceblue;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}
button {
    background-color: #ccff00;
    padding: 5px 10px;
    border-radius: 6px;
  }
.rodape{
    color: aliceblue;
    text-align: left;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}