body {
    align-content: center;
    margin: 50px;
    background-image: url('../Imagens/PgPrincipal/fundopaginaprincipal.jpg');
    background-size: cover; /* Para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}
div {
    margin-bottom: 15px;
}
h1 {
    text-align: center;
    color: aliceblue;
    font-size: 50pt;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}

#formulário {
    width: 300px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin: 10px 0;
    line-height: 20px;

}

label {
    color:aliceblue;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

.rodape{
    color: aliceblue;
    position: absolute;
    text-align: left;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}