body {
    margin: 50px;
    background-image: url('../Imagens/PgPrincipal/fundopaginaprincipal.jpg');
    background-size: cover; /* Para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}
div {
    margin-bottom: 15px;
}
h1, h2 {
    text-align: left;
    color: aliceblue;
    font-size: 50pt;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    margin-left: 25px;
}
h2 {
    font-size: 25pt;
    margin-bottom: 20px;
    margin-left: 25px;
}
p {
    padding: 7pt;
    line-height: 20px;
    text-align: left;
    color: aliceblue;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25px;
}
button {
    background-color: #ccff00;
    padding: 5px 10px;
  }
.content {
    height: auto;
    width: auto;
    align-content: left;
    border-width: 5pt;
    border-style: outset;
    background-color:rgb(65, 187, 48);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(38, 116, 28, 0.768);
}
.flex-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.rodape{
    color: aliceblue;
    text-align: center;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}
#img_principal {
    margin-left: 50px;
    padding: 10px;
    align-self: center;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}
#img_atracao {
    padding: 30px;
    height: 250px;
    width: 350px;
}
#titulo_atracao {
    font-size: 30pt;
    text-align: center;
}
#div_aux{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    width: 33%;
    align-self:flex-end;
}
#div_atracao {
    margin: 10px;
    width: 55%;
    align-self: flex-start;
}
