body {
    margin: 35px;
    margin-left: 75px;
    background-image: url('../Imagens/fundopaginaprincipal.jpg');
    background-size: cover; /* Para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}
h1, h2 {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 50pt;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    margin-left: 12pt;
}
h2 {
    font-size: 25pt;
    margin-bottom: 20px;
}
p {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 11pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 12pt;
}
li {
    padding: 2px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 12pt;
}
.img1 {
    width: 200px;
    margin-left: 450px;
}
.content {
    width: 1200px;
    height: 600px;
    align-content: left;
    border-width: 5pt;
    border-style: outset;
    background-color:rgb(65, 187, 48)
}
.content2 {
    width: 1200px;
    height: 320px;
    align-content: left;
    border-width: 5pt;
    border-style: outset;
    background-color:rgb(65, 187, 48)
}